.span-8.prepend-1.append-bottom.staffs.header
  %h4.bottom= search_text ? search_text : page_entries_info(staffs, :entry_name => 'person').gsub(/ in total/,'')
.span-6.prepend-1.last#pagination
  - if paginate
    %h4.bottom= will_paginate(staffs, :param_name => 'page', :page_links => true, :inner_window => 1, :outer_window => 1)
