.sidebar.instructions
  == What are providers?
  %ul
    %li== Providers are users or resources which can provide one or more services offered by the company.
    %li== Customers can schedule appointments with providers.
  == What are managers?
  %ul
    %li== Managers are users or resources which can manage all provider schedules.
    %li== Managers can also create new customers and providers.
  == What's the difference between a provider and a manager?
  %ul
    %li== Providers can manage their own schedule, and view other schedules
    %li== Managers can manage all schedules and users
