.sidebar.instructions
  == What are providers?
  %ul
    %li== Providers are users or resources which can provide one or more services offered by the company.
    %li== Customers can schedule appointments with providers.
  == What's the difference between a provider and a manager?
  %ul
    %li== Managers are providers that have special privileges, such as being able to manage other providers.
