.sidebar.instructions
  == What are providers?
  %ul
    %li== Providers are users or things which provide the services offered by the company.
    %li== Providers also take customer appointments.
  == What's the difference between a provider and a manager?
  %ul
    %li== Managers are providers that have special privileges, such as being able to manage other providers.
