.sidebar.instructions
  == What are services?
  %ul
    %li== Services are the things? the company provides.
    %li== Services have providers that perform the service.
    %li== Customers schedule appointments for services, and optionally for a specific service provider.
