%p{:style => 'font-size: 1.5em;'}
  == Services are the things you provide as a company.
  %span{:style => 'background-color: #FFFF99;'}==Create services
  == using the link to the right.
  %br
  %br
  == Once you have added your services, your 
  %span{:style => 'background-color: #FFFF99;'}== customers
  == can 
  %span{:style => 'background-color: #FFFF99;'}== schedule appointments
  == and use the 
  %span{:style => 'background-color: #FFFF99;'}==waitlist. 
