- stylesheet('services')

.container
  .left
    .section_header
      %h1.index
        == Services
        
    .section_body
      #services_table
        = render(:partial => 'services.html.haml', :locals => {:services => @services})
    
    
