- title("Add Service")
- stylesheet('services')
- javascript('services')

= render(:partial => 'service_form', :locals => {:service => @service, :action => 'Create', :title => 'Add a Service', :submit_url => services_path(:subdomain => current_subdomain)})

%hr.space

.span-23.prepend-1.last
  %h3.bigger.padding-top-20== Note: You may add service providers after the service is created


