- title("Add Service")
- stylesheet('services')
- javascript('services')

= render(:partial => 'service_form', :locals => {:service => @service, :action => 'Create', :title => 'Add a Service', :submit_url => services_path(:subdomain => current_subdomain)})

%hr.space

.span-23.prepend-1.last
  %h3
    %span{:style => 'color: #5500BB; font-weight: bold; font-size: 1.2em;'}== Note: You may add service providers after the service is created


