.span-15.prepend-1.last.appointment.waitlist{:class => [cycle("", "")].join(' ')}[waitlist]
  .span-4.time
    %h4{:style => 'margin-left: 5px;'}== #{waitlist_time_range.start_time_hours_ampm} - #{waitlist_time_range.end_time_hours_ampm}
  .span-3
    %h6== Waitlist
  .span-4.customer
    %h6= waitlist.customer.name
  .span-3.prepend-1.last
    - email_address = waitlist.customer.email_address
    = link_to 'Send Message', '', :id => "send_waitlist_message", :address => email_address
      