- javascript('rpx')
- title('Login')

.span-24.last
  = display_flash

.span-24.last

  -# regular user login
  .span-12.padding-bottom-10
    = render :partial => 'sessions/login_form'

  -# rpx login
  .span-11.prepend-1.last
    #rpx_login_loading{:style => 'padding-top: 30px; color: #5500BB; font-size: 3.0em; font-weight: bold;'}== Login Form Loading ...
    = RPXNow.embed_code('walnut', rpx_login_url)

.span-24.last

  .span-12.last
    - if @signup
      - submit_url = customer_create_path
      = render :partial => 'users/user_form', :locals => {:submit_url => submit_url, :title_text => 'Sign Up', :submit_text => 'Sign Up!', :back_path => nil}
