.notes
  - unless @notes.blank?
    .block
      == Notes history
    - @notes.each do |note|
      .note{:id => "note_#{note.id}"}
        .date
          = note.created_at.to_s(:appt_day)
        .comment
          %p= note.comment
