.sidebar.instructions
  == What are employees?
  %ul
    %li== Employees usually work for the company, are service providers, and take customer appointments.
  == What's the difference between an employee and a company manager?
  %ul
    %li== Managers are employees that have special privileges, such as being able to manage other employees.
  == What's the difference between an employee and a customer?
  %ul
    %li== A customer is a person who makes appointments, but does not necessary provide any services.
