.sidebar.instructions
  %ul
    %li== Employees are service providers, have a calendar, and take customer appointments.
    %li== Managers are employees that have special privileges, such as being able to manage other employees.
