%p{:style => 'font-style: italic; color: #333'}
  == Powered by the online scheduling folks at #{link_to 'Walnut Calendar', 'http://www.walnutcalendar.com'}.
  == Its the fast and easy way to schedule appointments online.  Get your schedules online today.
