- invoice.line_items.each do |li|
  .span-15.last.padding-5.chargeable{:class => cycle("shaded", "")}
    .span-5
      = li.chargeable.name
    .span-5
      = text_field_tag 'chargeable[price]', li.chargeable.price, :style => "background-color: #FFFF66"
    .span-2.prepend-3.last
      = link_to "Remove", remove_invoice_path(invoice, :line_item_id => li.id), :class => 'admin ujs'
      