- javascript('invoices')

.span-20
  .span-20.last.box
    %h1== Invoice

.span-20
  .prepend-1
    %h2== Services and Products
    #invoice
      = render(:partial => 'invoice.html.haml', :locals => {:invoice => @invoice})
    %hr.space
    .span-10.last
      - form_for(Service.new, add_invoice_path(@invoice), :url => add_invoice_path(@invoice), :html => {:id => "add_chargeable"}) do |f|
        = select_tag('service_id', options_for_select(@services.collect{ |o| [o.name, o.id]}, 0))
        = submit_tag "Add Service", :name => nil
  
