- title('Sign Up')

.span-24.last
  .span-15.prepend-1.append-1.last
    .highlight#flash

  .span-22.prepend-1.append-1.last.padding-top-10
    .plans.title
      %h1 30-day Free Trial on All Accounts!
      %h3 There are several plans available. Signing up only takes a minute.

  %hr.space
  
  = render(:partial => 'plans/plans', :locals => {:plans => @plans, :trial => true})

  %hr.space

  = render(:partial => 'plans/plan_features')
  
  = render(:partial => 'plans/plan_terms')

