.span-6.prepend-1.last.mat
  = label_tag 'add_single_free_time_form', "Schedule Availability for #{provider.name}", :class => 'big'
  %h4= link_to "Add blocks of available time", new_block_path, :class => 'rounded button'
  %h4== or
  %h4= link_to "Add a weekly schedule", new_weekly_path, :class => 'rounded button'
