.sidebar.instructions
  == What are Schedules?
  %ul
    %li== Schedules show available time and appointments for each provider.
  == How do I add available/free time?
  %ul
    %li== Use the links at the top of the page to create blocks of available time or to create available time using weekly schedules.
    %em== or
    %li== Click on a calendar date and use the '+' icon to add available time for a specific date.
  == How do I create an appointment?
  %ul
    %li== Click on a calendar date and use the '+' icon to add an appointment for a specific date.
