.sidebar.instructions
  == What are Schedules?
  %ul
    %li== Schedules show available time and appointments for each provider.
  == How can I add available/free time?
  %ul
    %li== You can use the links at the top of the page to create blocks of available time or to create available time using weekly schedules.
    %li== You can also click on a calendar date and use the '+' icon to add available time for a specific date.
  == How can I create an appointment?
  %ul
    %li== You can click on a calendar date and use the '+' icon to add an appointment for a specific date.
