.sidebar.instructions
  == What are Schedules?
  %ul
    %li== Schedules show available time and appointments for each provider.
  == How do I add available time?
  %ul
    %li== Use the links at the top of the page to create a weekly schedule or add blocks of available time.
    %em== or
    %li== Use the '+' icon next to each calendar date to add available time for a specific date.
  == How do I create an appointment?
  %ul
    %li== Use the '+' icon next to each calendar date to add an appointment for a specific date.
