- stuff.each do |object|
  -# check what type of stuff it is, possible options:
  -# appointments, capacity_slots, [waitlist, date, waitlist_time_range]
  - case
  - when object.is_a?(Appointment)
    = render(:partial => 'appointments/free_work_appointment', :locals => {:day => day, :appointment => object})
  - when object.is_a?(CapacitySlot)
    = render(:partial => 'appointments/capacity_slot', :locals => {:day => day, :slot => object})
  - when object.is_a?(Array)
    = render(:partial => 'waitlists/waitlist', :locals => {:day => day, :waitlist => object[0], :waitlist_time_range => object[2]})
