%div#provider_bookit
  .toolbar
    %h1== Confirm Appointment
    = link_to 'Back', '#', :class => 'back'

  %ul.edgetoedge
    %li#service{:style => 'border-bottom: none;'}== Service:
    %li#with{:style => 'border-bottom: none;'}== With: 
    %li#when{:style => 'border-bottom: none;'}== When:
  %ul.individual
    %li.bookit_confirm#confirm{:style => 'margin-top: 10px;'}= link_to 'Confirm', '', :class => 'bookit confirm'
    
  .info.hide==Confirming ...