/* appointment, timeslot styles */
                                                    
div.appointments, div.timeslots, table.appointments, table.timeslots                   
                                                  { font-size: 11px; font-weight: normal; margin: 0; padding 0 0 3px; }

div.appointments h2, div.timeslots h2, h2.appointments             
                                                  { color: #CC9933; font-size: 12px; font-weight: bold; border: none; }

div.appointments h3, div.timeslots h3, h3.appointments             
                                                  { color: #CC9933; font-size: 11px; font-weight: bold; border: none; }

div.appointments .timeslot, div.timeslots .timeslot, div.appointments .appointment
                                                  { color: #000000; font-size: 11px; background: #FFFFFF; padding: 3px; }

div.appointments .hover, div.timeslots .hover, table.appointments .hover     
                                                  { background: #FFFFCC; }

table.appointments                                {  }

table.appointments tr                             { margin: 5px 0 0; padding: 2px 5px 2px; }

table.appointments td.service                     { background: #5500BB none repeat scroll 0 0; color: #FFFFFF; 
                                                    padding: 2px 5px; width: 100px; text-align: left; }

table.appointments td.work                        { background: #663333 none repeat scroll 0 0; }
                                                    
table.appointments td.time                        { text-align: left; padding: 0; width: 150px;}

table.appointments td.customer                    { text-align: left; font-size: 10px; font-weight: bold; padding-left: 10px; }

table.timeslots td.person                         { background: #5500BB none repeat scroll 0 0; color: #FFFFFF; margin-right: 2px; 
                                                    padding: 2px 5px; text-align: right; width: 100px;}
                                                     
table.timeslots td.time                           { text-align: right; width: 60px; padding: 0 5px; }

table.timeslots td.service                        { background: #FF6600 none repeat scroll 0 0; margin-right: 5px; padding: 1px 5px; }

div.timeslots .timeslot a, div.appointments .appointment a, table.appointments .appointment a
                                                  { color: #5500BB; font-weight: bold; }
                                                  
div.timeslots .timeslot a:hover, div.appointments .appointment a:hover, table.appointments .appointment a:hover
                                                  { color: #5500BB; background-color: #FF6600; }
                                                  
div.timeslots .timeslot a:visited, div.appointments .appointment a:visited, table.appointments .appointment a:visited
                                                  { color: #5500BB; font-weight: bold; }
                                                  
table.appointment_header td.what                  { font-weight: bold; font-size: 15px; }

table.appointment_header td.when                  { font-weight: bold; font-size: 15px; }

table.appointment_header td.customer, table.appointment_header td.customer a              
                                                  { font-weight: bold; font-size: 14px; color: #0033FF; }
