/* header */

div#header                      { background-color: #1A1A1A; }
div#header #title               { color: #EEEEEE; }

div#header div.company_name     { font-size: 2.0em; font-weight: bold; }
div#header div.company_name a   { color: #DDDDDD; background-color: #1A1A1A; }

/* signup links */

a.signup:link, a.signup:visited   { font-size: 11px; font-weight: normal; color: #FFFFFF; }
a.signup:hover                    { color: #FFFFFF; background-color: #1A1A1A; text-decoration: none; }

  
/* whoami user info */

.whoami                         { display: block; background-color: #5500BB; color: #FFFFFF; text-align: center; margin-top: 5px; padding-bottom: 3px;}


/* jquery datepicker */

table.ui-datepicker-calendar thead th   { background: #333333; }

/* tabs */

#tabs.ui-tabs                   { padding: 0; }

#tabs .ui-tabs-panel            { padding: 0; }

#tabs.ui-widget-content         { padding: 0; background: none; border: none; }

#tabs .ui-widget-header         { background: none; border: none; }

#tabs li                        { font-size: 0.9em; }

/* tab default state background color */
#tabs li.ui-state-default       { border: 1px solid #5500BB; background: #5500BB; font-weight: normal; color: #FFFFFF; outline: none; 
                                  margin-right: 5px; }

/* tab active state background color */
#tabs li.ui-state-active        { border: 1px solid #CCCCCC; background: #FFFFFF; font-weight: normal; color: #000000; outline: none; }

/* tab default state text color */
#tabs .ui-state-default a, #tabs .ui-state-default a:link, #tabs .ui-state-default a:visited
                                { color: #FFFFFF; text-decoration: none; outline: none; font-weight: normal; }

/* tab active state text color */
#tabs .ui-state-active a, #tabs .ui-state-active a:link, #tabs .ui-state-active a:visited
                                { color: #5500BB; text-decoration: none; outline: none; font-weight: bold; }

/* tab hover, active state (both states simultaneously) */
#tabs li.ui-state-hover.ui-state-active a, #tabs li.ui-state-hover.ui-state-active a:hover
                                { color: #5500BB; text-decoration: none; outline: none; background: #FFFFFF;
                                  -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px;}

/* tabs hover state */
#tabs li.ui-state-hover a, #tabs li.ui-state-hover a:hover
                                { color: #FFFFFF; text-decoration: none; outline: none; background: #FF6600;
                                  -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px;}


/* dialogs */

.ui-dialog.ui-widget-content          { padding: 0; background: none; background: #FFFFFF; border: none; }

.ui-dialog-content.ui-widget-content  { color: #333; }

