/* calendar styles */
                                                    
table.layout                                      { border-collapse: collapse; clear: left; width: 100%; }

table.calendar                                    { background: #E1E0E0 none repeat scroll 0 0; margin-bottom: 15px; width: 100%; text-align: left;}

table.calendar th                                 { background: transparent none repeat scroll 0 0; color: #111111; font-size: 1.2em; padding: 3px;
                                                    text-align: left;}
                                                    
table.calendar td                                 { background: #F5F5F5 none repeat scroll 0 0; color: #999999; font-size: 1.2em; 
                                                    padding: 3px 3px 13px 3px; vertical-align: top; }

table.calendar td.in-range.free                   { color: #333333; font-weight: bolder; }
table.calendar td.in-range.work                   { color: #333333; font-weight: bolder; }
/*
table.calendar td.in-range.busy                   { background: #444444 none repeat scroll 0 0; color: #FFFFFF; font-weight: bolder; }
*/
table.calendar td.in-range                        { background: #EDF3FE none repeat scroll 0 0; }
table.calendar td.outside-range                   { background: #FFFFFF none repeat scroll 0 0; font-weight: lighter; }


table.calendar span                               { margin: 3px 0 0; padding: 0;}

table.calendar td.hover, table.calendar th.hover  { background: #FFCC00 none repeat scroll 0 0; color: #000000; }  /* yellowish */

table.calendar td.mark, table.calendar th.mark    { background: #5500BB none repeat scroll 0 0; color: #FFFFFF;}  /* dark purplish */
table.calendar td.selected, table.calendar th.selected  { background: #FFCC00 none repeat scroll 0 0; color: #FFFFFF;}  /* yellowish */

/* calendar attribute styles */

.calendar.date_range_name                         { color: #111111; font-weight: bold; font-size: 1.3em; }
.calendar.date_range_summary                      { color: #111111; font-weight: bold; font-size: 1.5em; }

.calendar.cube                                    { text-align: center; width: 40px; border: 1px solid #007700; padding-bottom: 0; }
.calendar.cube.week_day                           { background: #008800 none repeat scroll 0 0; color: #FFFFFF; display: block; font-size: 0.8em; 
                                                    letter-spacing: 1px; margin: 0; padding: 0; text-transform: uppercase; }
.calendar.cube.month_day                          { background: #FFFFFF none repeat scroll 0 0; color: #111111; display: block; font-size: 1.5em; 
                                                    font-weight: bold; line-height: 1.25em; }

.calendar.days.ago                                { background: #5500BB none repeat scroll 0 0; color: #FFFFFF; display: block; 
                                                    width: 75px; text-align: center; }

.calendar.date.wide                               { color: #111111; font-size: 1.2em; text-align: left; margin-bottom: 7px; width: 100%;
                                                    border-bottom: 2px solid #CCCCCC; background: #EEEEEE; padding: 3px 0px 3px 15px;}

/* calendar menu */

ul.calendar.menu                                  { position: absolute; left: -20px; background: white; list-style-type: none; width: 115px; 
                                                    font-weight: normal; font-size: 0.9em; }


/*
ul.calendar.schedule.menu li a                    { color: #0099FF; background-color: #FFFFFF; }
ul.calendar.schedule.menu li:hover                { color: #FFFFFF; background-color: #0099FF; }
ul.calendar.schedule.menu li a:hover              { color: inherit; background-color: inherit; }
*/

ul.calendar.menu li a                             { color: #3A2313; background-color: #FFFFFF; font-size: 0.9em; font-weight: bold; }
ul.calendar.menu li a:hover                       { color: #00BBFF; }

/* calendar time range slider styles */

.slider .time                                     { color: #333333; }
.slider .time.mark                                { background: #5500BB none repeat scroll 0 0; color: #FFFFFF;}  /* dark purplish */

/* other calendar stuff */

.text_field_label                                 { font-size: 1.1em; padding-top: 5px; }
.hint                                             { font-style: italic; }
.prompt                                           { font-size: 1.3em; font-weight: bold; }
.std_text_field_style                             { width: 100px; background: #FFFFFF; font-size: 1.2em; padding-left: 3px; } /* This will fit in a span-3 */
.large_text_field_style                           { width: 150px; background: #FFFFFF; font-size: 1.2em; padding-left: 3px; } /* This will fit in a span-3 */
