/* customer styles */

div.customers.header                              { font-size: 15px; font-weight: bold; }

a.customer.name                                   { color: #5500BB; font-weight: normal; text-decoration: none; }
a:hover.customer.name                             { color: #5500BB; background-color: #FF6600; }
a:visited.customer.name                           { color: #5500BB; }

.customer.email                                   { color: #5500BB; }
.customer.sms                                     { color: #008800; }
.customer.nosms                                   { color: #666666; }
.customer.phone                                   { color: #333333; }
