/* customer styles */
/* use the same style for peopel and services as well */

div.customers_header, div.people_header, div.services_header           
                                                  { color: #666666; font-size: 12px; font-weight: bold; margin: 10px 0 10px; }
                                            
table.customers, table.people                     { border-collapse: collapse; border-top: 1px solid #EFEFEF; width: 100%; clear: left; }

table.customers td, table.people td               { border-bottom: 1px solid #EFEFEF; font-size: 12px; font-weight: normal; padding: 8px 0; 
                                                    vertical-align: top; width: 30%; }

table.customers td.contact_info                   { padding-left: 10px; }

div.customer h1, div.person h1                    { color: #000000; font-size: 16px; margin: 0 0 5px; padding: 0; }

div.customer h2, div.person h2                    { color: #333333; font-size: 12px; margin: 0 0 7px; padding: 0; }


div.contact_info_header                           { background: #E1E0E0 none repeat scroll 0 0; border-bottom: 1px solid #DFDFDF;
                                                    color: #666666; font-size: 11px; font-weight: bold; padding: 5px 10px 5px 15px; }
                                                    
div.contact_info                                  { padding: 5px; }

table.customer tr                                 { margin: 5px 0 0; padding: 2px 5px 2px; font-size: 11px; font-weight: normal; }

table.customer td.heading                         { background: #333333 none repeat scroll 0 0; color: #FFFFFF; 
                                                    padding: 2px 5px; width: 90px; text-align: left; }

table.customer td.email, table.customer td.phone  { padding-left: 5px; }