#header-tabs.ui-tabs                    { padding: 0; }

#header-tabs .ui-tabs-panel             { padding: 0; }

#header-tabs.ui-widget-content          { padding: 0; background: none; border: none; }

#header-tabs .ui-widget-header          { background: none; border: none; }

#header-tabs .ui-tabs-nav               { padding: 0; }


#header-tabs li.ui-state-default        { margin-right: 7px; }

/*#header-tabs li.ui-tabs-selected        { background-color: #fff; color: #000; }*/

#header-tabs li.ui-state-default        { border: 1px solid #225522; background: #225522; font-weight: normal; color: #ffffff; outline: none; }
#header-tabs li.ui-state-active         { border: 1px solid #00cc00; background: #008800; font-weight: normal; color: #ffffff; outline: none; }

#header-tabs .ui-state-default a, #header-tabs .ui-state-default a:link, #header-tabs .ui-state-default a:visited 
{ color: #FFFFFF; text-decoration: none; outline: none; }

#header-tabs .ui-state-active a, #header-tabs .ui-state-active a:link, #header-tabs .ui-state-active a:visited 
{ color: #FFFFFF; text-decoration: none; outline: none; }

/*#header-tabs .ui-state-hover, .ui-state-focus
{ border: 1px solid #8bd83b; background: #4eb305 url(images/ui-bg_highlight-soft_50_4eb305_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #ffffff; outline: none; }
*/

/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
{ border: 1px solid #8bd83b; background: #5500bb; font-weight: normal; color: #ffffff; outline: none; }
*/
#header-tabs li.ui-state-hover, #header-tabs li.ui-state-focus
{ border: 1px solid #008800; background: #008800; font-weight: normal; color: #ffffff; outline: none; }

#header-tabs li.ui-state-hover a, #header-tabs li.ui-state-hover a:hover
{ color: #ffffff; text-decoration: none; outline: none; }

