/* note styles */

div.note                                          { border-bottom: 1px solid #DFDFDF; margin: 0; padding: 5px; }

div.note div.date                                 { font-size: 12px; font-weight: bold; }

div.note div.comment                              { font-size: 12px; font-weight: normal; color: #666666; }

