body {
  font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
}

/* Header, Tabs */

div#header                                        { margin: 0; min-width: 900px; min-height: 50px; overflow: hidden; padding: 10px 23px 0px 30px; 
                                                    position: relative; text-align: left; }

div#header h1                                     { color: #000000; font-size: 24px; font-weight: normal; margin: 0; padding: 0; text-align: left; }

div#tabs                                          { clear: left; height: 24px; margin: 15px 0 0; padding: 0; }

div#tabs ul                                       { margin: 0; padding: 0; }

div#tabs li                                       { border: medium none; display: inline; list-style-image: none; list-style-position: outside; 
                                                    list-style-type: none; margin: 0; padding: 0; font-size 12px; color: #FFFFFF; }

div#tabs li.with_space                            { margin-right: 8px; }

div#tabs a                                        { text-decoration: none; }

div#tabs a:visited, div#tabs a:link               { color: #FFFFFF; }

/* Wrapper */

div.wrapper                                       { margin: 0 auto; min-width: 800px; padding: 5px 23px 0px 30px; }