/* general body styles */

body                                              { font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif; }

/* link styles */

a                                                 { color: #000000; background: transparent none repeat scroll 0 0; }

a.current, a.current:hover                        { color: #000000; text-decoration: none; background: transparent none repeat scroll 0 0; }

a:hover                                           { background-color: #0033BB; color: #FFFFFF; text-decoration: none; }

a img                                             { border: 0 none; vertical-align: top; }

a img:hover                                       { background-color: green; }

/* error styles */

.field_error                                      { background-color: #FF8800; padding: 5px; }

/* padding styles */

.padding-5                                        { padding: 5px; }

/* header, tab styles */

div#header                                        { margin: 0; min-width: 900px; min-height: 50px; overflow: hidden; padding: 10px 23px 0px 30px; 
                                                    position: relative; text-align: left; }

div#header h1                                     { color: #000000; font-size: 24px; font-weight: normal; margin: 0; padding: 0; text-align: left; }

div#tabs                                          { clear: left; height: 24px; margin: 15px 0 0; padding: 0; font-size: 12px; }

div#tabs ul                                       { margin: 0; padding: 0; }

div#tabs li                                       { border: medium none; display: inline; list-style-image: none; list-style-position: outside; 
                                                    list-style-type: none; margin: 0; padding: 0; color: #FFFFFF; }

div#tabs li.with_space                            { margin-right: 2px; }

div#tabs li.right                                 { float: right; }

div#tabs a                                        { text-decoration: none; }

div#tabs a:visited, div#tabs a:link               { color: #FFFFFF; background-color: #CD9100; border-bottom-color: #CD9100; border-style: solid; 
                                                    border-width: 1px; color: #000000; padding: 3px 8px 8px; }

div#tabs a.current                                { color: #000000; border-bottom-color: #E5E5E5; }

div#tabs a.current:link, div#tabs li a.current:link, div#tabs a.current:visited, div#tabs li a.current:visited                       
                                                  { background: #E5E5E5 url(/images/tab-background.gif) repeat-x scroll center top;
                                                    border-bottom: 1px solid #E5E5E5; font-weight: bold; margin: 0;
                                                    text-decoration: none; padding: 3px 8px 8px; }

/* body styles */

h1.title                                          { background: #EDF3FE; margin: 0px; padding-bottom: 15px; margin-bottom: 20px; }

div.wrapper                                       { margin: 0 auto; min-width: 800px; padding: 5px 23px 0px 30px; }

div.container div.box                             { background: #EDF3FE; padding: 13px 0px 13px 40px; }

div.section_header                                { background: #EDF3FE; margin: 0px; padding: 13px 30px 13px 24px; }

div.section_header h1.index                       { color: #000000; font-size: 14px; margin: 0; paddin: 0;}

div.section_header span.other_indexes             { float: right; font-size: 11px; text-align: right; color: #CCCCCC; }

div.section_body                                  { padding: 20px 60px 20px 20px;}

div.section_body h1, div.section_body div.notice                              
                                                  { background-color: #FFCC00; border-bottom: 1px solid #FFCC00; font-size: 12px; font-weight: bold; 
                                                    margin: 0; padding: 3px; text-align: left; }

div.section_body div.alert                        { background-color: #FFCC00; border-bottom: 1px solid #FFCC00;                                                     font-size: 12px; font-weight: bold; 
                                                    margin: 0; padding: 3px; text-align: left; }

div.section_body h2                               { border-bottom: 1px solid #000000; color: #000000; font-size: 12px; font-weight: bold; 
                                                    margin: 15px 0 5px; padding: 0 0 2px; }

div#free_times                                    { font-size: 11px; padding: 0; margin: 0; }

div#free_time                                     { font-size: 11px; padding: 5px 5px 2px 2px; margin: 0 0 0 5px; background-color: #FFCC00; 
                                                    width: 400px;}

div#free_time span#free_time_start                { padding-left: 5px; }

div#free_time span#free_time_end                  { padding-left: 15px; }

div.cancel, span.cancel                           { font-size: 10px; }

/* form styles */

input.title.big                                   { color: #000000; font-size: 20px; font-weight: bold; }

label.big                                         { font-size: 16px; }

div.section_header input                          { color: #000000; font-size: 20px; font-weight: bold; }

div.section_header input.submit                   { color: #000000; font-size: 14px; font-weight: normal; }

div.section_body div.form_section                 { color: #000000; font-size: 14px; padding-bottom: 20px; }

/* admin styles */

a.admin:link, a.admin:visited                     { font-size: 11px; font-weight: normal; color: #0000FF; }

a.admin:hover                                     { color: #FFFFFF; background-color: #0000FF; }

/* column styles */

div.left                                          { float: left; margin: 0; padding: 0; text-align: left; width: 70%; }

div.right                                         { float: left; margin: 0 0 0; padding: 0; text-align: left; width: 30%; }

div.col                                           { min-width: 200px; padding: 0 0 0 12px;}

/* instruction styles */

div.instructions                                  { background: #FFFFCC; padding: 5px; font-size: 12px; }

div.instructions ul                               { font-size: 12px; }

/* sidebar styles */

div.sidebar                                       { background: #EDF3FE none repeat scroll 0 0;  border: 1px solid #C9D8EF; }

div.sidebar_form                                  { background: #EDF3FE none repeat scroll 0 0; border: 1px solid #C9D8EF; 
                                                    padding: 6px 10px 2px; }

div.sidebar_form input                            { font-size: 14px; color: #000000; }

div.sidebar_header h1                             { font-size: 14px; font-weight: bold; }

/* highlight styles */

.shaded                                           { background: #EDF3FE }

.highlighted, .highlighted.shaded                 { background: #FFCC00 none repeat scroll 0 0; }

.highlight.muted                                  { background: #FFFF66; }

.blue.muted                                       { background: #EDF3FE; }
  
/* color styles */

.red                                              { color: #FF0000; font-style: bold; font-size: 12px; }

.green                                            { color: #FF6600; font-style: bold; font-size: 12px; }

/* example styles */

span.example                                      { color: #666666; font-style: italic; font-size: 11px; padding-left: 5px; }
