/* link styles */

a:hover                                           { color: #FFFFFF; background-color: #0033CC; text-decoration: none; }

a.current, a.current:hover                        { text-decoration: none; }

a img                                             { border: 0 none; vertical-align: top; }

a img:hover                                       { background-color: green; }

/* rounded corner support */

a.rounded, .rounded.button                        { outline: none; border: none; text-decoration: none; cursor: pointer; white-space: nowrap; 
                                                    vertical-align: middle; /* or top */
                                                    display: -moz-inline-box; display: inline-block; 
                                                    overflow: visible; /* IE6 form button fix */ }

.rounded.button                                   { color: #FFFFFF; background-color: #111111; padding: 5px 5px; }
.rounded.button.color                             { background-color: #4400AA; }

/* error styles */

.field_error                                      { background-color: #FF8800; padding: 5px; }

/* padding, border styles */

.padding-5                                        { padding: 5px; }
.padding-top-5                                    { padding-top: 5px; }
.padding-top-10                                   { padding-top: 10px; }
.padding-bottom-5                                 { padding-bottom: 5px; }
.padding-bottom-10                                { padding-bottom: 10px; }
.padding-bottom-20                                { padding-bottom: 20px; }
.padding-right-10                                 { padding-right: 10px; }

.letterbox                                        { padding-top: 10px; padding-bottom: 10px; }

.margin-bottom-0                                  { margin-bottom: 0px; }

.text-align-right                                 { text-align: right; }
.text-align-left                                  { text-align: left; }

/* header, tab, link styles */

div#header                                        { margin: 0; min-width: 900px; min-height: 50px; overflow: hidden; padding: 15px 0px 0px 0px; 
                                                    position: relative; text-align: left; }

select.locations                                  { color: #008800; font-size: 12px; font-weight: bold; }
 
/* body styles */

div.container div.box                             { padding: 13px 0px 13px 40px; }

div.block                                         { background: #E1E0E0 none repeat scroll 0 0; border-bottom: 1px solid #DFDFDF;
                                                    color: #666666; font-size: 11px; font-weight: bold; padding: 5px 10px 5px 10px; }

div.mat                                           { background: #EDF3FE none repeat scroll 0 0; }
div.mat.shaded                                    { background: #E5ECF9 none repeat scroll 0 0; }

/* form styles */

input.title.big                                   { color: #000000; font-size: 20px; font-weight: bold; }

label.big                                         { font-size: 16px; }

.button                                           { font-size: 12px;}
.button.big                                       { font-size: 15px; }

.select                                           { font-size: 12px; }
.select.big                                       { font-size: 15px; }

/* admin styles */

a.admin:link, a.admin:visited                     { font-size: 11px; font-weight: normal; color: #0000FF; }

a.header:link, a.header:visited                   { color: #CCCCCC; }

a.admin:hover                                     { color: #FFFFFF; background-color: #0000FF; text-decoration: none; }

/* signup styles */

a.signup:link, a.signup:visited                   { font-size: 11px; font-weight: normal; color: #000000; }

a.signup:hover                                    { color: #000000; background-color: #FFFFFF; text-decoration: none; }


/* sidebar styles */

div.sidebar                                       { background: #EDF3FE none repeat scroll 0 0; border: 1px solid #C9D8EF; }

/* instruction styles */

div.instructions, div.instructions.sidebar        { background: #FFFFCC; padding: 5px; font-size: 12px; border: 1px solid #FFD324; }
div.instructions ul                               { font-size: 12px; }

/* pagination styles */

.pagination a                                     { background: #008800; color: #FFFFFF; }

.pagination span, .pagination a                   { display: block; margin-right: 2px; padding: 0.2em 0.5em; float: left; 
                                                    text-decoration: none; }

.pagination span.disabled                         { background: #FFFFFF; color: #999999; }

/* highlight styles */

.shaded                                           { background: #EDF3FE; none repeat scroll 0 0; }
.shaded.grey                                      { background: #EEEEEE; none repeat scroll 0 0; }

.highlighted, .highlighted.shaded, .highlight     { background: #FFCC00; none repeat scroll 0 0; }

.highlight.muted                                  { background: #FFFF66; none repeat scroll 0 0; }

.blue.muted                                       { background: #EDF3FE; none repeat scroll 0 0; }
  
/* color styles */

.red                                              { color: #FF0000; }

.green                                            { color: #FF6600; }

.grey                                             { color: #666666; }

/* example styles */

span.example                                      { color: #666666; font-style: italic; font-size: 11px; padding-left: 5px; }

/* plan styles */

div.plans.title                                   { text-align: center;}
div.plans.header                                  { text-align: left; font-size: 1.3em; }
div.plan.details                                  { text-align: left; font-size: 1.5em; line-height: 1.5em; margin-bottom: 10px; 
                                                    padding-bottom: 5px; border-bottom: 2px solid #EFEFEF; }
                                                    
div.plan.name                                     { font-weight: bold; }
div.plan.signup                                   { padding-left: 5px; }

hr.plan.divider                                   { background: #008800 none repeat scroll 0 0; height: 0.2em; margin-top: 10px; }
/* miscellaneous */

div.directions                                    { color: #666666; font-size: 15px; font-style: italic;}

h3.select_label                                   { padding-top: 10px; }

div.description textarea                          { height: 200px;}
div.slogan input                                  { width: 100px;}

textarea.message                                  { height: 30px; width: 500px; }

div.company_logo                                  { float: left; }
div.company_name a, a:hover                       { text-decoration:none; color: #000000; background-color: #008800; }

div.company_slogan                                { float: left; font-size: 1.5em; font-style: italic; line-height: 1.1em;}
div.company_slogan a, a:hover                     { text-decoration:none; color: #000000; background-color: #008800; }

div.company_description                           { font-size: 1.5em;}
div.walnut_calendar_logo a img                    { float: right; padding: 5px; height: 55px;}
