table.services                                    { border-collapse: collapse; border-top: 1px solid #EFEFEF; width: 100%; border: medium none; }

table.services td                                 { border-bottom: 1px solid #EFEFEF; font-size: 12px; font-weight: normal; padding: 8px 0; 
                                                    vertical-align: top; width: 30%; }
                                                    
table.services td.service h2                      { color: #000000; font-size: 16px; margin: 0 0 3px; border: none; }

table.services td.price                           { font-size: 12px; font-weight: bold; }

table.services td.action                          { font-size: 11px; font-weight: normal; width: 10%; white-space: nowrap; padding-left: 8px; }
