/* customer and employee styles */

div.customers.header                              { font-size: 1.5em; font-weight: bold; color: #5500BB; }

a.customer.name                                   { color: #111111; font-weight: normal; }
a:hover.customer.name                             { color: #111111; background-color: #FF6600; text-decoration: none; }
a:visited.customer.name                           { color: #111111; }

a.customer.add, a.provider.add                    { color: #008800; font-weight: bold; }
a:hover.customer.add, a:hover.provider.add        { color: #008800; background-color: #FF6600; }
a:visited.customer.add, a:visited.provider.add    { color: #008800; font-weight: bold; }

.customer.email                                   { color: #111111; }
.customer.sms                                     { color: #5500BB; }
.customer.nosms                                   { color: #666666; }
.customer.phone                                   { color: #333333; }

.employee.name                                    { color: #111111; }
.employee.roles                                   { color: #007700; }
