/* Header, Tabs */

div#header                                        { background-color: #FFCC00; }

div#tabs a                                        { border-color: #FFCC00; background-color: #FFCC00; border-bottom-color: #FFCC00; }

div#tabs a:hover                                  { background-color: #FF9900; }
