- users.each do |user|
  .span-16.last.letterbox.user{:class => cycle("shaded", "")}
    .span-7.prepend-1.name
      %h2{:style => "margin-bottom: 0px;"}= user.name
      -# show user roles
      = user.roles.collect(&:name).join(", ")
    .span-6.email
      %h3= user.email
    .span-2.last.action
      = link_to "Edit", edit_user_path(user, :subdomain => current_subdomain), :class => 'admin'
