.span-16
  .span-15.last.box
    %h2== Users
  %hr.space
  
  .span-14.prepend-1.append-1.last
    = display_flash(:notice)
  
  .span-14.prepend-1.append-1.last
    .highlight#flash
  #services
    = render(:partial => 'users.html.haml', :locals => {:users => @users})
    
.span-6.prepend-1.last
  .span-6.box
    %h3= link_to 'Invite a user', new_invitation_path(:subdomain => @subdomain)

