- title('User Signup')

- if @error_message
  .span-23.prepend-1.mat.padding-bottom-10
    %h2= @error_message
    %h4{:style => 'font-size: 1.5em;'}== Please check your invitation and try again
- else
  = render :partial => 'sessions/user_form', :locals => {:submit_url => url_for(:controller => 'users', :action => 'create', :type => @type, :subdomain => current_subdomain), :title_text => "#{@type.titleize} Signup", :submit_text => 'Create'}
