- title('User Signup')
- javascript('users')

- if @error_message
  .span-23.prepend-1.mat.padding-bottom-10
    %h2= @error_message
    %h4{:style => 'font-size: 1.5em;'}== Please check your invitation and try again
- else
  - submit_url = url_for(:controller => 'users', :action => 'create', :role => @role, :subdomain => current_subdomain)
  = render :partial => 'sessions/user_form', :locals => {:invitation => @invitation, :submit_url => submit_url, :title_text => "#{@role.titleize} Signup", :submit_text => 'Create', :back_path => @back_path}
