-# Only admin users should really be able to see all companies
= link_to('Companies', companies_path(:subdomain => @subdomain), :class => 'admin', :style => 'color: #DDDDDD;')
== &nbsp;|&nbsp;

- if has_privilege?('create roles privileges') || has_privilege?('read roles privileges') || has_privilege?('update roles privileges') || has_privilege?('delete roles privileges')
  = link_to('Privileges & Roles', badges_path, :class => 'admin', :style => 'color: #DDDDDD;')
  == &nbsp;|&nbsp;
  
- if logged_in?
  = link_to('Log-out', logout_path, :class => 'admin', :style => 'color: #DDDDDD;')
- else
  = link_to('Log-in', login_path, :class => 'admin', :style => 'color: #DDDDDD;')

