- form_for(object, :url => url) do |f|
  .span-3
    == Start:
    %br
    = text_field_tag 'start_date', '', :style => 'width: 90px; font-size: 12px;', :class => 'datepicker', :autocomplete => 'off'
  .span-3.last
    == End:
    %br
    = text_field_tag 'end_date', '', :style => 'width: 90px; font-size: 12px;', :class => 'datepicker', :autocomplete => 'off'
  .span-6.last{:style => 'padding-top: 7px;'}
    = f.submit 'Search', :name => nil, :class => 'button', :id => submit_id
    == or
    = link_to "Cancel", '', :id => 'show_links'
