= title("Demos")
.introtext
  %h2
    Demos
  %p
    There are several demos of the technology for you to try out.
  %ul
    %li
      = link_to "Mary's salon", root_path(:subdomain => "maryssalon")
      is a hair and beauty salon, with two hairdressers and a number of different services. These take different amounts of time.
      %p==You can log in as the manager using the user id marysnips@walnutcalendar.com, password marysnips
    %li
      = link_to "Meatheads", root_path(:subdomain => "meatheads")
      == is an example personal training group. There are three trainers, one of whom is the manager. They are available on different days at different times. They each have specialty services, and all offer a generic personal training service.
      %p==You can log in as the manager using the user id meathead@walnutcalendar.com, password meathead
    %li
      = link_to "McTrucks", root_path(:subdomain => "mctrucks")
      == is an example of a truck rental company. They have different types of trucks which you can rent by the hour.
      %p==You can log in as the manager using the user id mrtrucks@walnutcalendar.com, password mrtrucks

  %p
    == You can make a reservation at any of the above, using your own login, or if you wish you can log in as the manager and see how to set up your own company.
  
  %p
    == Note that all of the demos are automatically rebuilt every hour. As a result, all changes and appointments will disappear every hour.
