= title("FAQ")
.introtext
  %h2
    Usage
  %h3
    Do I need to move everything to Walnut Calendar from the start?
  %p
    No, you can easily try it out by just setting up some availability in Walnut Calendar, and managing your other time in the way you have been.
  %h3
    Do I need to move away from my existing calendar solution?
  %p
    Walnut Calendar allows you to import your online appointments into many existing Calendar programs, such as Outlook or Google's online calendar. This allows you to stay completely up to date as your clients make appointments online.
  %h3
    Do I have to have a website to use Walnut Calendar?
  %p
    No. You can customize your company's site on Walnut Calendar to make it the ideal internet presences. Or, if you already have a website, you can link to walnut calendar so that your clients can book appointments online.
  %h3
    Can you accommodate my flexible schedule? My availability changes on different days or weeks.
  %p
    Certainly, you can make yourself available as and when you choose. You're in complete control.
  %h3
    Can I get copies of my schedule?
  %p
    If you wish, Walnut Calendar will send you an electronic document (PDF) of your schedule every day. That way you always have a printable copy of your schedule should you need it.
  %h2
    Accounts
  %h3
    How do you charge for the service?
  %p
    During the private beta period there is no charge. Once we move to a fully released service there will be a monthly service charge made to your credit card. You can cancel your service at any time, after which we will not charge your credit card again. However, you will not receive a refund on the remainder of your monthly service.
