This is the home page.

You can access:
= link_to 'Company1', show_company_root_path('company1')
= link_to 'Company2', show_company_root_path('company2')
= link_to 'Noel Rose', show_company_root_path('noel-rose')
