- title('Online Scheduling for Small Businesses')

.span-20.prepend-1
  %h2
    == Peanut provides online scheduling services for your business.  It's easy to signup and try it out.
    
%hr.space

.span-20.prepend-1
  %h2= link_to 'Signup', signup_path(:plan => 'free')
