- title('Welcome to Peanut')

.span-20.prepend-1
  %h2
    == Peanut provides online scheduling services for you business.  Its easy to signup and try it out.
    
%hr.space

.span-20.prepend-1
  %h2= link_to 'Signup', signup_path(:plan => 'free')
