- title('Online Scheduling for Small Businesses')

.span-14.prepend-1.last
  = display_flash

.span-23.prepend-1.padding-top-10
  %h3== Walnut Calendar provides online scheduling for small businesses.
  %h3== We are currently in a private beta.
  %h3== #{link_to('Contact', "mailto:support@walnutindustries.com")} us if you are interested in signing up for the beta.
