- title('Online Scheduling for Small Businesses')

.span-14.prepend-1.last
  = display_flash

.span-23.prepend-1.padding-top-10.introtext
  %h3
    == Are you losing business because your clients can't get hold of you 24x7?
  %h3
    == Would you like to be free from answering the phone, and able to focus on great service?
  %h3
    == Do you need a sophisticated online appointments manager, but can't build it yourself?
  %br
  %h3
    == Walnut Calendar provides online scheduling for service-oriented small businesses. This allows your clients to book appointments with you at any time, day or night, and allows you to focus on providing them with excellent service.
  %hr.space

  %h3
    == #{link_to 'Sign Up', signup_beta_path} and try it out - it's free!

  %hr.space

  .introtext
    %p
      == In a tough economy, nobody can afford to miss out on potential business because you're busy with another client, or you can't answer the phone 24x7.
      == Allow your business to achieve its full potential with Walnut Calendar, an easy to use and highly flexible online appointments management solution.
    %p
      == Improve the service you provide to your clients, while improving your own schedule management,
      == by taking advantage of Walnut Calendar, a sophisticated yet easy to use online appointments service.
    %p
      == Walnut Calendar provides you with sophisticated appointments management for you and your customers, all online and easy to use.
      == Advertise your availability, take appointments and accept waitlist requests all without  
      == Do you wish you could take reservations from your customers while you're working with someone else?
      == Do your customers want to see your availability and make appointments without having to pick up the phone?
      == Walnut Calendar allows you to do all this and more

    %hr.space

    %h3
      == #{link_to 'Sign Up', signup_beta_path} and try it out - it's free!
