- title('Online Scheduling for Small Businesses')

.span-15.prepend-1
  = display_flash(:all)
  
.span-23.prepend-1.padding-top-10
  %h2
    == Peanut provides online scheduling services for your business.  It's easy to signup and try it out.
    
%hr.space

.span-20.prepend-1
  %h3= link_to 'Sign Up', signup_path
  