#events
  - unless @urgent.empty?
    .urgent.span-22.prepend-1.append-1.last
      %h3==Urgent
      = render(:partial => 'events_subset', :locals => {:events => @urgent})
  - unless @approval.empty?
    .approval.span-22.prepend-1.append-1.last
      %h3==Approval
      = render(:partial => 'events_subset', :locals => {:events => @approval})
  - unless @informational.empty?
    .informational.span-22.prepend-1.append-1.last
      %h3==Informational
      = render(:partial => 'events_subset', :locals => {:events => @informational})
