- customers.each do |customer|
  .prepend-1.customer
    .span-7
      %h2= link_to customer.name, customer_path(customer)
    .span-8
      .email
        %h3= customer.email
      .phone
        %h3= customer.phone
    .span-3.last
      %h4= link_to "Appointments", customer_appointments_path(customer)
        