- stylesheet('customers')

.container
  .left
    .section_header
      %h1.index
        == Find a customer by typing their name
      %p
      .live_search
        = text_field("customer", "name", :autocomplete => "off", :id => 'live_search_for_customers')
        = observe_field(:live_search_for_customers, {:url => customers_path, :method => :get, :with => "'search=' + element.value", :frequency => 1})
        
    .section_body
      .customers_header#customer_search_text
        = @search_text
      #customers_table
        = render(:partial => 'customers.html.haml', :locals => {:customers => @customers})
    
    
