- stylesheet('customers')
- javascript('customers')

.span-20.last.box
  = label_tag "live_search_for_customers", "Find a customer by typing their name", :class => 'big'
  %br
  = text_field("customer", "name", :autocomplete => "off", :id => 'live_search_for_customers', :class => 'title big', :url => customers_path)

.span-20.last
  .prepend-1.append-bottom.customers_header#customer_search_text
    = @search_text
  #customers
    = render(:partial => 'customers.html.haml', :locals => {:customers => @customers})
    
