.sidebar.instructions
  == What are invitations?
  %ul
    %li== Invitations are emails sent to users with a special link to signup as a company provider.
    %li== You can add providers by sending an invitation or by clicking 'Add a user' from the providers page.
