.sidebar.instructions
  == What are invitations?
  %ul
    %li== Invitations are emails sent to users with a special link to signup as company staff.
    %li== You can add staff by sending an invitation or by clicking 'Add a user' from the providers page.
