.sidebar.instructions
  == What are invitations?
  %ul
    %li== Providers are users or resources which can provide one or more services offered by the company.
    %li== Customers can schedule appointments with providers.
