- if company.locations.size > 1
  .switch
    #location_switcher= link_to 'Change Location', '', :class => 'admin header'
    %span.hide#location_switcher_menu{:style => 'position: relative;'}
      - company.locations.each do |location|
        .location= link_to location.name, set_default_location_path(location), :class => 'admin header'
    
-#= link_to 'Add a Location', new_location_path(:subdomain => @subdomain)

