- companies.each do |company|
  .span-16.last.letterbox.service{:class => cycle("shaded", "")}
    .span-10.prepend-1.name
      %h2.bottom= company.name
      %h4.bottom= company.time_zone
    .span-2.prepend-3.last.action
      - if has_privilege?("read companies")
        = link_to "Site", openings_path(:subdomain => company.subdomain), :class => 'admin'
