- title('Admin Console')

.span-17
  .span-15.last.box
    %h2== Companies
  %hr.space
  .span-15.prepend-1.append-1.last
    .highlight#flash
  #companies
    = render(:partial => 'companies.html.haml', :locals => {:companies => @companies})

%hr.space

.span-20.prepend-1
  %h2= link_to 'Signup', signup_path(:plan => 'free')