- title("Setup")

.span-23.prepend-1.last.mat.padding-top-10.padding-bottom-20
  %h1{:style => 'font-size: 2.5em;'}== Setup Wizard
  
%hr.space

.span-22.prepend-1.last
  %p{:style => "font-size: 1.8em;"}
    == There are a few things you need to do before your site is setup and your customers can start scheduling appointments online.
  %p{:style => "font-size: 1.8em;"}
    == The first step is to add
    %span{:style => 'background-color: #FFFF99;'}== services.
    == Click
    = link_to 'here', services_path, :style => 'color: #FF6600;'
    == to add services.
  %p{:style => "font-size: 1.8em;"}
    == The next step is to add
    %span{:style => 'background-color: #FFFF99;'}== providers.
    == Click
    = link_to 'here', providers_path, :style => 'color: #FF6600;'
    == to add providers.
  %p{:style => "font-size: 1.8em;"}
    == The final step is to add
    %span{:style => 'background-color: #FFFF99;'}== service providers.
    == To add service providers, click 
    = link_to 'here', services_path, :style => 'color: #FF6600;'
    == to list your company services. Click on 'edit' to edit a specific service.  The service edit page allows you to add and remove service providers.
  