- title("Coming Soon")

.span-23.prepend-1.last.mat.padding-top-10.padding-bottom-20
  %h1{:style => 'font-size: 2.5em;'}== Coming Soon
  
%hr.space

.span-22.prepend-1.last
  %p{:style => "font-size: 1.8em;"}
    == This site is currently being setup.  Come back soon and schedule your online appointment.
