- stylesheet('appointments')
- javascript('appointments')

.span-24
  .span-23.prepend-1.last.mat
    %h2
      == Waitlist
    %h3
      == Today is #{Time.now.to_s(:appt_day)}
  %hr.space
  .span-18.prepend-1.append-1.last
    .highlight#flash
  #waitlist
    = render(:partial => 'waitlist.html.haml', :locals => {:appointments => @appointments})
