.sidebar.instructions
  - case state
  - when 'upcoming'
    == What are upcoming appointments?
    %ul
      %li== They are appointments that have been scheduled with a specific provider.
  - when 'completed'
    %ul
      %li== Completed appointments have finished and been marked as completed.
  - when 'canceled'
    %ul
      %li== Canceled appointments have been scheduled and then canceled before they occurred.
