- appointments.each do |appointment|
  .span-16.last{:class => cycle("shaded", "")}
    .span-5.prepend-1.invoice
      %h2= (appointment.resource || Person.anyone).name
      
    .span-5
      - if appointment.invoice
        %h2= appointment.invoice.total_as_money
        .invoice.hide
          = appointment.invoice.line_items.collect{ |li| li.chargeable.name }.join(", ")
      - else
        %h3{:style => 'padding-top: 5px;'}== Scheduled
        
    .span-5.last
      %h3{:style => 'padding-top: 5px;'}= appointment.updated_at.to_s(:appt_short_month_day_year)
    
