.sidebar.instructions
  == What is recurring availability?
  %ul
    %li== It is availability that is set up to occur on a regular basis, usually every week
  == How do I change existing recurring availability?
  %ul
    %li== Edit the recurring availability using the "Edit" link at the top of this page
  == How do I finish the recurring availability
  %ul
    %li== If you want to stop the availability immediately, use the "Cancel" link at the top of this page.
    %li== If you want to stop the availability at some future point, pick the first instance that should be cancelled, and click the link next to it that reads "Cancel this and future availability"
    %li== Once you have canceled the recurring availability no more availability will be created in future
