<div class='page_header' id='confirm'>
  <h1 class='index'>Confirm your appointment</h1>
  <%= render :partial => 'customer_message', :locals => {:appointment => @appointment} %>
</div>

<p/>

<div id='customer'>
  <%= render :partial => 'customer_form', :locals => {:appointment => @appointment} %>
</div>
