.container
  .left
    .section_header
      %h1.index
        == Appointment confirmation
        
    .section_body
      .confirmation
        == Your appointment for a 
        %span.description
          = appointment_description(@appointment)
        == has been confirmed.
        %p
        == Your confirmation code is 
        %span.confirmation_code
          ==#{@appointment.confirmation_code}
        == . You will need this code to reference your appointment.
        %p
        == A confirmation email has also been sent to
        %span.email
          = @appointment.customer.email
        == .
      