.container
  .left
    .section_header
      %h1.index
        == Appointment confirmation
        
    .section_body
      %h1== #{@appointment.job.name} with #{@appointment.resource.name} on #{@appointment.start_at.to_s(:appt_day_date_time)}
      