- title("Edit Appointment")
- stylesheet('appointments', 'notes', 'jquery.timepickr', 'datePicker', 'jquery.autocomplete')
- javascript('edit_appointment', 'notes', 'service_providers', 'ui.timepickr', 'jquery.timepickr', 'jquery.datePicker')

-# service providers mapping services to providers
.span-16.service_providers.hide
  - unless @sps.blank?
    - @sps.each do |sp|
      .service_provider{:service_id => sp[0], :provider_id => sp[1], :provider_name => sp[2], :provider_type => sp[3]}

.span-16.services.hide
  - unless @sps.blank?
    - @sps.each do |sp|
      .service{:service_id => sp[0], :allow_custom_duration => sp[4], :service_duration => Duration.to_words(sp[5], :prepend => "Typically"), :service_duration_in_secs => sp[5]}
  
.span-14.prepend-1.last
  = render :partial => 'appointments/edit_appointment', :locals => {:appointment => @appointment, :provider => @appointment.provider, :choose_provider => true, :services => @services, :providers => @providers }
