- title(@title)
- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-14.prepend-1.last
  = display_flash
  
.span-23.prepend-1
  = render(:partial => 'appointments/appointment', :locals => {:appointment => @appointment, :customer_signup => false})

- if !@instances_by_day.blank?
  .appointment.review.span-23.prepend-1.last
    .span-23.last.label
      == Future availability in this recurring series:
  .span-23.last
    = render(:partial => 'calendar/show_by_day', :locals => {:stuff_by_day => @instances_by_day})
  