- title(@title)
- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-14.prepend-1.last
  = display_flash
  
.span-23.prepend-1
  = render(:partial => 'appointment', :locals => {:appointment => @appointment, :customer_signup => nil})
