.span-16.mat
  .span-15.prepend-1
    %h2== Please confirm your appointment.
      
  .schedule_form.span-15.prepend-1
    - url = @appointment.waitlist? ? waitlist_path(:subdomain => current_subdomain) : schedule_path(:subdomain => current_subdomain) 
    - form_for(@appointment, :url => url) do |f|
      - unless @appointment.errors.blank?
        .span-14.notice.last
          = error_messages_for('appointment', :header_message => nil)
      .span-14.last
        = render :partial => 'appointment_header.html.haml', :locals => { :appointment => @appointment }
      %hr.space
      .span-10.prepend-1.last
        = f.submit "Confirm", :style => 'font-size: 15px;'    
