.container
  .left
    .section_header
      Appointment Details
    .section_body
      .appointment
        .description
          == Appointment:
          = appointment_description(@appointment)
        %p
        .customer
          == Customer:
          = @appointment.customer.name unless @appointment.customer.blank?