- title(@title)
- stylesheet('appointments', 'notes')
- javascript('appointments', 'notes')

.span-24.mat.padding-top-10
  .span-23.prepend-1
    %h2=@title
        
  .span-13.last
  
%hr.space

.span-23.prepend-1
  = render :partial => 'appointment', :locals => {:appointment => @appointment}
  
%hr.space

.span-23.prepend-1.text
  - if @appointment.customer.sms?
    == Send Text Message
