- unscheduled_appts.keys.sort.each do |key|
  .unscheduled.hide{:id => "unscheduled_#{key}", :style => 'color: #666666;'}
    %h4#date{:style => 'margin-bottom: 3px;'}
      -# get date in utc format
      - date = unscheduled_appts[key].first.start_at.utc
      = date.to_s(:appt_short_month_day_year)
    #times
      - if unscheduled_appts[key].size == 1
        == Nothing scheduled
      - else
        - unscheduled_appts[key].each do |time_range|
          == Unscheduled: &nbsp; 
          = time_range.start_at.in_time_zone.to_s(:appt_time)
          == -
          = time_range.end_at.in_time_zone.to_s(:appt_time)
          %br
