.span-17
  %h3{:style => 'color: #5500BB; font-weight: bold;'}== Flexible Terms
  %h3
    %ul
      %li.padding-bottom-10== No contracts, no setup fees.
      %li.padding-bottom-10== Upgrade or downgrade at anytime.
      %li.padding-bottom-10== Billing is monthly, cancel at anytime.
