.span-7
  %h3{:style => 'color: #5500BB; font-weight: bold; font-size: 1.7em;'}== Features
  %h3
    %ul
      %li.padding-bottom-10== Online scheduling
      %li.padding-bottom-10== Email, SMS notifications
