.span-10
  %h3{:style => 'color: #5500BB; font-weight: bold; font-size: 1.7em;'}== Flexible Terms
  %h3
    %ul
      %li.padding-bottom-10== No contracts, no setup fees.
      %li.padding-bottom-10== Upgrade or downgrade your plan at anytime.
      %li.padding-bottom-10== Billing is monthly, cancel at anytime.
