- title('Peanut Plans')

.span-24.last
  .span-15.prepend-1.append-1.last
    .highlight#flash
  #plans.span-22.prepend-1.append-1.last
    - @plans.each do |plan|
      = render(:partial => 'plan.html.haml', :locals => {:plan => plan})

%hr.space

.span-20.prepend-1
  %h3= link_to 'Home', root_path

