<span class="address">
  <%= render :partial => 'locations/location_address', :object => @location %>
  <% if !show_location.phone.blank? -%> 
    <%= h show_location.phone -%><br/>
  <% end -%>
  <% if !show_location.email.blank? -%>
    <%= h show_location.email -%><br/>
  <% end -%>
</span>