- title('Edit a location')
- stylesheet('locations')
- javascript('locations')

.span-16
  .span-14.prepend-1.append-1.mat
    %h2== Edit a location

  %hr.space

  .span-15.prepend-1
    = display_flash(:all)

  %hr.space

  .span-15.prepend-1.padding-bottom-10
    = render :partial => 'edit_location', :locals => {:location => @location, :form_submit => 'Update', :submit_url => location_path(@location) }

.span-8.last
  -# locations help
  .span-7.prepend-1.last
    = render(:partial => 'locations/location_help', :locals => {:title => 'Editing a Location'})
