<% content_for :javascript do %>
  <%= javascript_include_tag 'map_helpers' %>
<% end %>

<h1>Editing location</h1>

<%= error_messages_for :location %>

<%
  edit_loc_form_path = case
    when @restaurant then restaurant_url(@restaurant) + location_path(@location)
    when @user then user_url(@user) + location_path(@location)
    else location_path(@location)
  end
%>

<%= render :partial => 'edit_location', :object => @location, 
  :locals => {:form_submit => 'Update' } %>

<br/>
<%= link_to "Delete", location_path(@location), :method => :delete %>
<br/>

