- title('Edit a location')
- stylesheet('locations')

.span-16
  .span-14.prepend-1.append-1.mat
    %h2== Edit a location

  .span-14.prepend-1.append-1  
    = display_flash(:all)

    = render :partial => 'edit_location', :object => @location, :locals => {:form_submit => 'Update', :submit_url => location_path(@location, :subdomain => current_subdomain) }

.span-7.prepend-1.sidebar.instructions.last
  %h3== Editing a location
  %ul
    %li== Please fill in the address for this location. Fields marked * are required.
    %li== You can give this location a name (e.g. "Downtown") if you wish.
