- title('Add a location')
- stylesheet('locations')

.span-16
  .span-14.prepend-1.append-1.mat
    %h2== Add a location

  .span-14.prepend-1.append-1  
    = display_flash(:all)

    = render :partial => 'edit_location', :object => @location, :locals => {:form_submit => 'Add location', :submit_url => locations_path(:subdomain => current_subdomain)}

.span-7.prepend-1.last
  .sidebar.instructions
    %h3== Adding a location
    %ul
      %li== Please fill in the address for this location. Fields marked * are required.
      %li== You can give this location a name (e.g. "Downtown") if you wish.
