<div id='locations'>
  <h1>New location</h1>

  <%= error_messages_for :location %>

  <% if @current_company
      new_loc_form_path = company_locations_path(@current_company) %>
    <%= render :partial => 'edit_location', :object => @location, 
          :locals => {:form_path => new_loc_form_path} %>
  <% end %>

  <%= link_to 'Back', new_loc_form_path %>
</div>
