%h2.prepend-1
  == New location

= error_messages_for :location

= render :partial => 'edit_location', :object => @location, :locals => {:form_submit => 'Add location', :submit_url => locations_path(:subdomain => current_subdomain)}
